#Field
public net.minecraft.client.gui.Font f_92713_ # fonts
public net.minecraft.world.item.ItemCooldowns f_41515_ # cooldowns
public net.minecraft.world.item.ItemCooldowns f_41516_ # tickCount
public net.minecraft.world.item.ItemCooldowns$CooldownInstance f_41533_ # startTime
public net.minecraft.client.particle.Particle f_107226_ # gravity
public-f net.minecraft.network.protocol.game.ClientboundUpdateMobEffectPacket f_133608_ # flags
public-f net.minecraft.client.particle.Particle f_107230_ # alpha
public net.minecraft.client.renderer.LevelRenderer f_172938_ # cullingFrustum
public net.minecraft.client.renderer.LevelRenderer f_172938_ # cullingFrustum
protected-f net.minecraft.world.item.SwordItem f_43267_ # defaultModifiers
public net.minecraftforge.client.ItemDecoratorHandler itemDecorators # itemDecorators
public net.minecraftforge.client.ItemDecoratorHandler DECORATOR_LOOKUP # DECORATOR_LOOKUP
protected-f net.minecraft.core.particles.ParticleType f_123738_ # deserializer
public net.minecraft.world.entity.AreaEffectCloud f_19686_ # victims
public net.minecraft.world.level.LocalMobCapCalculator f_186498_ # playerMobCounts
public net.minecraft.client.renderer.block.model.ItemOverrides f_111735_ # overrides
public net.minecraft.client.renderer.block.model.ItemOverrides$BakedOverride f_173481_ # model
public net.minecraft.client.renderer.block.model.ItemOverrides$BakedOverride f_173480_ # matchers
public net.minecraft.world.entity.ai.attributes.AttributeMap f_22139_ # attributes
public net.minecraft.world.entity.ai.attributes.AttributeInstance f_22091_ # permanentModifiers
protected net.minecraft.client.renderer.ShaderInstance f_173331_ # uniforms

#Method
public net.minecraft.world.entity.ai.attributes.AttributeInstance m_22129_()V # setDirty
public net.minecraft.client.renderer.block.model.ItemOverrides$BakedOverride <init>([Lnet/minecraft/client/renderer/block/model/ItemOverrides$PropertyMatcher;Lnet/minecraft/client/resources/model/BakedModel;)V # BakedOverride
public net.minecraft.world.entity.Entity m_20098_()F # getBlockJumpFactor
public-f net.minecraft.world.entity.Entity m_146870_()V # discard
protected net.minecraft.world.entity.projectile.ThrownPotion m_37537_(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/alchemy/Potion;)V # makeAreaOfEffectCloud
protected net.minecraft.world.entity.projectile.ThrownPotion m_37553_()Z # isLingering
public net.minecraft.world.entity.Entity m_142242_()Lnet/minecraft/world/phys/AABB; # makeBoundingBox
public net.minecraftforge.client.ItemDecoratorHandler <init>(Ljava/util/List;)V # ItemDecoratorHandler
public net.minecraft.world.level.NaturalSpawner$SpawnState m_47127_(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/chunk/ChunkAccess;)Z # canSpawn
public net.minecraft.world.level.NaturalSpawner$SpawnState m_47131_(Lnet/minecraft/world/entity/Mob;Lnet/minecraft/world/level/chunk/ChunkAccess;)V # afterSpawn
public net.minecraft.world.level.NaturalSpawner$SpawnState m_186548_(Lnet/minecraft/world/entity/MobCategory;Lnet/minecraft/world/level/ChunkPos;)Z # canSpawnForCategory
public net.minecraft.world.level.LocalMobCapCalculator m_186507_(Lnet/minecraft/world/level/ChunkPos;)Ljava/util/List; # getPlayersNear
public net.minecraft.client.particle.ParticleEngine m_107395_(Lnet/minecraft/core/particles/ParticleOptions;DDDDDD)Lnet/minecraft/client/particle/Particle; # makeParticle

#Class
public+f net.minecraft.world.item.ItemCooldowns$CooldownInstance # cooldownInstance
public net.minecraft.world.level.LocalMobCapCalculator$MobCounts # mobCounts
public net.minecraft.client.gui.Gui$HeartType # heartType