#Field
public net.minecraft.client.gui.Font f_92713_ # fonts
public net.minecraft.client.particle.Particle f_107226_ # gravity
public-f net.minecraft.network.protocol.game.ClientboundUpdateMobEffectPacket f_133608_ # flags
public-f net.minecraft.client.particle.Particle f_107230_ # alpha
public net.minecraft.client.renderer.LevelRenderer f_172938_ # cullingFrustum
protected-f net.minecraft.world.item.SwordItem f_43267_ # defaultModifiers
public net.minecraftforge.client.ItemDecoratorHandler itemDecorators # itemDecorators
public net.minecraftforge.client.ItemDecoratorHandler DECORATOR_LOOKUP # DECORATOR_LOOKUP
public net.minecraft.client.particle.ParticleEngine f_107295_ # spriteSets
protected-f net.minecraft.core.particles.ParticleType f_123738_ # deserializer
public net.minecraft.world.entity.AreaEffectCloud f_19686_ # victims
public net.minecraft.world.level.LocalMobCapCalculator f_186498_ # playerMobCounts
public net.minecraft.client.renderer.block.model.ItemOverrides f_111735_ # overrides
public net.minecraft.client.renderer.block.model.ItemOverrides$BakedOverride f_173481_ # model
public net.minecraft.world.entity.ai.attributes.AttributeMap f_22139_ # attributes
public net.minecraft.world.entity.ai.attributes.AttributeInstance f_22091_ # permanentModifiers
protected net.minecraft.client.renderer.ShaderInstance f_173331_ # uniforms
public-f net.minecraft.nbt.CompoundTag f_128329_ # tags
protected net.minecraft.world.entity.projectile.FishingHook f_37098_ # syncronizedRandom
protected net.minecraft.world.entity.projectile.FishingHook f_37103_ # life
protected net.minecraft.world.entity.projectile.FishingHook f_37095_ # currentState
protected net.minecraft.world.entity.projectile.FishingHook f_37094_ # hookedIn
protected net.minecraft.world.entity.projectile.FishingHook f_37089_ # nibble
protected net.minecraft.world.entity.projectile.FishingHook f_37091_ # timeUntilHooked
protected net.minecraft.world.entity.projectile.FishingHook f_37093_ # openWater
protected net.minecraft.world.entity.projectile.FishingHook f_37100_ # outOfWaterTime
protected net.minecraft.world.entity.projectile.FishingHook f_37099_ # biting
protected-f net.minecraft.world.entity.projectile.FishingHook f_37096_ # luck
protected-f net.minecraft.world.entity.projectile.FishingHook f_37097_ # lureSpeed
public net.minecraft.world.level.storage.loot.LootTable f_79109_ # pools
public net.minecraft.world.level.storage.loot.LootPool f_79023_ # entries
public net.minecraft.world.level.storage.loot.entries.LootItem f_79564_ # item
public net.minecraft.world.level.storage.loot.LootPool f_79027_ # compositeFunction
protected-f net.minecraft.world.item.ArmorItem f_40383_ # defaultModifiers
protected net.minecraft.world.item.ArmorItem f_265987_ # ARMOR_MODIFIER_UUID_PER_TYPE
public net.minecraft.world.item.ItemStack f_41588_ # popTime
public-f net.minecraft.world.level.border.BorderStatus f_61894_ # color
public net.minecraft.world.level.dimension.end.EndDragonFight f_64072_ # portalLocation
public net.minecraft.world.level.dimension.end.EndDragonFight f_286982_ # skipArenaLoadedCheck
public net.minecraft.client.gui.GuiGraphics tooltipStack # tooltipStack
protected-f net.minecraft.world.item.TridentItem f_43379_ # defaultModifiers

#Method
public net.minecraft.world.entity.ai.attributes.AttributeInstance m_22129_()V # setDirty
public net.minecraft.world.entity.ai.attributes.AttributeInstance m_22129_()V # setDirty
protected net.minecraft.world.entity.projectile.FishingHook m_37171_()V # checkCollision
protected net.minecraft.world.entity.projectile.FishingHook m_37145_(Lnet/minecraft/core/BlockPos;)V # catchingFish
protected net.minecraft.world.entity.projectile.FishingHook m_37158_(Lnet/minecraft/core/BlockPos;)Z # calculateOpenWater
protected net.minecraft.world.entity.projectile.FishingHook m_150157_(Lnet/minecraft/world/entity/Entity;)V # setHookedEntity
protected net.minecraft.world.entity.projectile.FishingHook m_37136_(Lnet/minecraft/world/entity/player/Player;)Z # shouldStopFishing
public net.minecraft.world.entity.Entity m_20098_()F # getBlockJumpFactor
public-f net.minecraft.world.entity.Entity m_146870_()V # discard
protected net.minecraft.world.entity.Entity m_20015_(Lnet/minecraft/world/phys/Vec3;FF)Lnet/minecraft/world/phys/Vec3; # getInputVector
public net.minecraft.client.gui.GuiGraphics m_280444_(Lnet/minecraft/resources/ResourceLocation;IIIIIFFFF)V # innerBlit
public net.minecraftforge.client.ItemDecoratorHandler <init>(Ljava/util/List;)V # ItemDecoratorHandler
public net.minecraft.world.level.NaturalSpawner$SpawnState m_47127_(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/chunk/ChunkAccess;)Z # canSpawn
public net.minecraft.world.level.NaturalSpawner$SpawnState m_47131_(Lnet/minecraft/world/entity/Mob;Lnet/minecraft/world/level/chunk/ChunkAccess;)V # afterSpawn
public net.minecraft.world.level.NaturalSpawner$SpawnState m_186548_(Lnet/minecraft/world/entity/MobCategory;Lnet/minecraft/world/level/ChunkPos;)Z # canSpawnForCategory
public net.minecraft.world.level.LocalMobCapCalculator m_186507_(Lnet/minecraft/world/level/ChunkPos;)Ljava/util/List; # getPlayersNear
public net.minecraft.client.particle.ParticleEngine m_107395_(Lnet/minecraft/core/particles/ParticleOptions;DDDDDD)Lnet/minecraft/client/particle/Particle; # makeParticle
public net.minecraft.world.level.dimension.end.EndDragonFight m_64093_(Z)V # spawnExitPortal
public net.minecraft.world.level.dimension.end.EndDragonFight m_64102_()V # scanState
public net.minecraft.client.gui.Font m_271978_(Ljava/lang/String;FFIZLorg/joml/Matrix4f;Lnet/minecraft/client/renderer/MultiBufferSource;Lnet/minecraft/client/gui/Font$DisplayMode;II)F # renderText
public net.minecraft.client.gui.Font m_253238_(Lnet/minecraft/client/gui/font/glyphs/BakedGlyph;ZZFFFLorg/joml/Matrix4f;Lcom/mojang/blaze3d/vertex/VertexConsumer;FFFFI)V # renderChar
public net.minecraft.client.gui.GuiGraphics m_286081_()V # flushIfUnmanaged
public net.minecraft.client.particle.TotemParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDDDDLnet/minecraft/client/particle/SpriteSet;)V # TotemParticle

#Class
public+f net.minecraft.world.item.ItemCooldowns$CooldownInstance # cooldownInstance
public net.minecraft.world.level.LocalMobCapCalculator$MobCounts # mobCounts
public net.minecraft.client.gui.Gui$HeartType # heartType
public net.minecraft.world.entity.projectile.FishingHook$FishHookState
public net.minecraft.world.level.border.WorldBorder$BorderExtent
public net.minecraft.world.level.border.WorldBorder$StaticBorderExtent